@media (min-width: 992px) {
	.header {
		&__img {
			padding-top: 10rem;
			width: 600px;
		}
	}

	.nav {
		&__mobile {
			&-modal {
				&-item {
					font-size: 5rem;
				}
			}
		}

		&__desktop {
			&-icon {
				font-size: 5rem;
			}
			&-list {
				&-item {
					font-size: 3.5rem;
					padding-right: 4rem;
				}
			}
		}
	}
}
