@media (min-width: 768px) {
	.header {
		&__img {
			padding-top: 10rem;
			width: 600px;
		}
	}

	.nav {
		&__mobile {
			display: none;
			&-modal {
				&-item {
					font-size: 4rem;
				}
			}
		}

		&__desktop {
			display: block;
		}
	}

	.about {
		&__picture {
			width: 400px;
		}

		&__info {
			&-h3 {
				font-size: 3rem;
			}

			&-p {
				font-size: 2rem;
			}
		}
	}

	.accordion {
		&__item {
			&-title {
				font-size: 3rem;
				padding: 3rem;
				width: 700px;
				height: 70px;
			}

			&-info {
				width: 700px;
			}
		}
	}
}
