@media (min-width: 576px) {
	.section {
		&__title {
			font-size: 4rem;
			max-width: 500px;

			&::before {
				width: 120px;
			}

			&::after {
				width: 120px;
			}
		}
	}

	.header {
		&__img {
			width: 500px;
		}
	}

	.accordion {
		&__item {
			&-title {
				font-size: 2.5rem;
				padding: 2.5rem;
				width: 500px;
				height: 60px;
			}
			&-info {
				width: 500px;
			}
		}
	}

	.contact {
		&__icon {
			font-size: 5rem;
			margin: 4rem;
		}
	}
}
