@media (min-width: 1200px) {
	.section {
		&__title {
			font-size: 5.5rem;
			max-width: 800px;

			&::before {
				width: 190px;
			}

			&::after {
				width: 190px;
			}
		}
	}
	.header {
		&__img {
			padding-top: 10rem;
			width: 800px;
		}
	}

	.accordion {
		&__item {
			&-title {
				font-size: 4rem;
				padding: 4rem;
				width: 1000px;
				height: 80px;
			}

			&-info {
				width: 1000px;
			}
		}
	}

	.certificate {
		&__img {
			width: 700px;
		}
	}
}
