@use 'colors' as *;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Shadows Into Light', cursive;
	background-color: $white;
}

.stop-scrolling {
	height: 100%;
	overflow: hidden;
}

.header {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;

	&__img {
		width: 300px;
	}
}
.nav {
	&__top {
		position: absolute;
		height: 80px;
		width: 100vw;
		top: 0;
		left: 0;
		position: fixed;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 2rem;
		z-index: 2;
		&-shadow {
			box-shadow: 0px 3px 5px 0px rgba(39, 33, 33, 0.2);
			background-color: rgba(39, 33, 33, 0.1);
			z-index: 5;
		}
	}
	&__mobile {
		&-icon {
			font-size: 4rem;
			&-a {
				text-decoration: none;
				color: $black;
				&:hover {
					opacity: 0.7;
				}
				&-active {
					color: $orange;
					&:hover {
						opacity: 0.7;
					}
				}
			}
		}

		&-button {
			&:hover {
				color: $orange;
			}
		}

		&-modal {
			position: absolute;
			top: 0;
			left: 0;
			width: 100vw;
			height: 100vh;
			background-color: aqua;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			z-index: 1;
			transform: translateX(-100%);
			transition: transform 0.4s;
			background-color: rgba(0, 0, 0, 0.95);

			&-item {
				font-size: 3rem;
				text-decoration: none;
				color: $orange;
				text-transform: uppercase;
				padding: 2rem;
				transition: color 0.4s;
				&:hover {
					color: $white;
				}
			}

			&-active {
				transform: translateX(0);
			}
		}
	}

	&__desktop {
		display: none;

		&-list {
			display: flex;
			justify-content: space-between;

			&-item {
				font-size: 2.5rem;
				text-decoration: none;
				color: $black;
				padding-right: 2.5rem;
				text-transform: uppercase;
				transition: color 0.3s;

				&:hover {
					color: $orange;
				}
			}
		}

		&-icon {
			font-size: 4rem;
			&-a {
				text-decoration: none;
				color: $black;
			}
		}
	}
}

// Media
@import './small';
@import './medium';
@import './large';

// .nav {
// 	&__mobile {
// 		&-top {
// 			position: absolute;
// 			width: 100vw;
// 			display: flex;
// 			justify-content: space-between;
// 			align-items: center;
// 			height: 80px;
// 			position: fixed;
// 			padding: 3rem;
// 		}

// 		&-icon {
// 			font-size: 4rem;
// 			text-decoration: none;

// 			&-a {
// 				text-decoration: none;
// 				color: $black;
// 			}
// 		}
// 	}
// }
