@use 'colors' as *;
@use 'mixin' as *;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Shadows Into Light', cursive;
	background-color: $white;
}

.main {
	&__wrapper {
		max-width: 1200px;
		margin: auto auto;
	}
}
.stop-scrolling {
	height: 100%;
	overflow: hidden;
}

.section {
	&__title {
		position: relative;
		margin: 50px auto;
		text-align: center;
		font-size: 3rem;
		max-width: 300px;
		color: $orange;
		text-transform: uppercase;

		&::before {
			content: '';
			display: block;
			width: 60px;
			height: 2px;
			background: $orange;
			position: absolute;
			left: 0;
			top: 50%;
		}

		&::after {
			content: '';
			display: block;
			width: 60px;
			height: 2px;
			background: $orange;
			position: absolute;
			right: 0;
			top: 50%;
		}
	}
}

// HEADER

.header {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;

	&__img {
		padding-top: 10rem;
		// padding-left: 2rem;
		// padding-right: 2rem;
		width: 250px;
	}
}
.nav {
	&__top {
		position: absolute;
		height: 80px;
		width: 100vw;
		top: 0;
		left: 0;
		position: fixed;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 2rem;
		z-index: 2;
		&-shadow {
			box-shadow: 0px 3px 5px 0px rgba(39, 33, 33, 0.2);
			background-color: rgba(39, 33, 33, 0.3);
			z-index: 5;
		}
	}
	&__mobile {
		&-icon {
			font-size: 4rem;
			&-a {
				text-decoration: none;
				color: $black;
				&:hover {
					opacity: 0.7;
				}
				&-active {
					color: $orange;
					&:hover {
						opacity: 0.7;
					}
				}
			}
		}

		&-button {
			&:hover {
				color: $orange;
			}
		}

		&-modal {
			position: absolute;
			top: 0;
			left: 0;
			width: 100vw;
			height: 100vh;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			z-index: 1;
			transform: translateX(-100%);
			transition: transform 0.4s;
			background-color: rgba(0, 0, 0, 0.95);

			&-item {
				font-size: 3rem;
				text-decoration: none;
				color: $orange;
				text-transform: uppercase;
				padding: 2rem;
				transition: color 0.4s;
				&:hover {
					color: $white;
				}
			}

			&-active {
				transform: translateX(0);
			}
		}
	}

	&__desktop {
		display: none;

		&-list {
			display: flex;
			justify-content: space-between;

			&-item {
				font-size: 2.5rem;
				text-decoration: none;
				color: $black;
				padding-right: 2.5rem;
				text-transform: uppercase;
				transition: color 0.3s;

				&:hover {
					color: $orange;
				}
			}
		}

		&-icon {
			font-size: 4rem;
			&-a {
				text-decoration: none;
				color: $black;
				transition: color 0.3s;
				&:hover {
					color: $orange;
				}
			}
		}
	}
}

// ABOUT ME

.about {
	height: 100%;
	text-align: center;
	&__picture {
		width: 300px;
		height: auto;
		border-radius: 8px;
		filter: grayscale(30%);
		box-shadow: 0px 11px 24px 8px rgba(54, 51, 51, 0.4);
		margin: 4rem;
	}

	&__info {
		padding-left: 1rem;
		padding-right: 1rem;
		&-h3 {
			font-size: 2.5rem;
			padding-bottom: 2rem;
		}

		&-p {
			font-size: 1.8rem;
			padding-bottom: 1rem;
		}
	}
}

// EXPERIENCE

.experience {
	height: 100%;
	text-align: center;
}

.accordion {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	&__item {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		padding-bottom: 3rem;
		&-title {
			font-size: 2rem;
			display: flex;
			justify-content: space-between;
			padding: 2rem;
			align-items: center;
			width: 350px;
			height: 60px;
			background-color: $gray;
			color: $white;
			border-radius: 8px;
			cursor: pointer;
			transition: color 0.4s;
			&:hover {
				color: $light-oragne;
			}
		}

		&-info {
			width: 350px;
			background-color: $light-oragne;
			color: $black;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			list-style: none;
			border-bottom-left-radius: 8px;
			border-bottom-right-radius: 8px;
			// display: none;
			height: 0;
			transition: opacity 0.5s ease-out;
			opacity: 0;
			overflow: hidden;

			&-active {
				opacity: 1;
				height: auto;
				// display: block;
			}

			&-li {
				padding: 1rem;
				font-size: 2rem;
			}
		}
	}
}

.opened-accordion-item {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.fa-solid.fa-plus.deactive {
	display: none;
}

.fa-solid.fa-minus.deactive {
	display: none;
}

// certificateS

.certificate {
	&__wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
	}

	&__div {
		position: relative;
		margin: 2rem;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		width: 250px;
		height: 250px;
		border: 1px solid $gray;
		border-radius: 8px;
		background-color: $light-oragne;
		cursor: pointer;

		&-one {
			&:hover {
				.certificate__img-one {
					@include absoluteCenter;
				}
			}
		}

		&-two {
			&:hover {
				.certificate__img-two {
					@include absoluteCenter;
				}
			}
		}

		&-three {
			&:hover {
				.certificate__img-three {
					@include absoluteCenter;
				}
			}
		}

		&-four {
			&:hover {
				.certificate__img-four {
					@include absoluteCenter;
				}
			}
		}

		&-five {
			&:hover {
				.certificate__img-five {
					@include absoluteCenter;
				}
			}
		}

		&-six {
			&:hover {
				.certificate__img-six {
					@include absoluteCenter;
				}
			}
		}

		&-seven {
			&:hover {
				.certificate__img-seven {
					@include absoluteCenter;
				}
			}
		}

		&-eight {
			&:hover {
				.certificate__img-eight {
					@include absoluteCenter;
				}
			}
		}

		&-nine {
			&:hover {
				.certificate__img-nine {
					@include absoluteCenter;
				}
			}
		}

		&-ten {
			&:hover {
				.certificate__img-ten {
					@include absoluteCenter;
				}
			}
		}
	}

	&__icon {
		font-size: 5rem;
	}

	&__title {
		font-size: 4rem;
	}

	&__subtitle {
		font-size: 2rem;
	}

	&__help {
		font-size: 1.5rem;
	}

	&__img {
		position: absolute;
		width: 300px;
		transition: transform 0.8s;
		transform: translate(-500%);
		z-index: 10;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 8px;
		box-shadow: 8px 8px 64px 13px rgba(39, 33, 33, 0.4);
	}
}

// CONTACT

.contact {
	&__wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__icon {
		cursor: pointer;
		font-size: 4rem;
		margin: 3rem;
		text-decoration: none;
		color: $gray;

		&:hover {
			color: $light-oragne;
		}
	}
}

// FOOTER

.footer {
	margin-top: 8rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
	flex-wrap: wrap;
	text-align: center;
	padding: 2rem;

	&__a {
		text-decoration: none;
		color: $orange;
	}
}

// .front__page {
// 	transition: transform 1s, opacity 1s;
// 	opacity: 1;
// 	overflow: hidden;

// 	&:hover {
// 		transform: rotateY(-180deg);
// 		opacity: 0;
// 	}
// }

// MEDIA
@import './small';
@import './medium';
@import './large';
@import './_xlarge';
